<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.yuttadhammo.tipitaka"
      android:versionName="2.2" android:versionCode="22">
    <uses-sdk android:minSdkVersion="8"  android:targetSdkVersion="10"/>
    
    <application android:label="@string/app_name" android:icon="@drawable/logo">
    	<!-- 
        <provider android:name=".ATPKSearchSuggestionProvider"
              android:authorities="org.yuttadhammo.tipitaka.ATPKSearchSuggestionProvider" />
     	-->
        <activity android:name=".SelectBookActivity"
        		  android:theme="@android:style/Theme.NoTitleBar"
        		  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/app_name"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />	
            </intent-filter>
        </activity>

		<activity android:name=".ReadBookActivity"
				  android:theme="@android:style/Theme.NoTitleBar"
				  android:configChanges="orientation|keyboardHidden"
				  android:label="@string/read_page">
		</activity>

		<activity android:name=".EnglishActivity"
				  android:theme="@android:style/Theme.NoTitleBar"
				  android:configChanges="orientation|keyboardHidden"
				  android:label="@string/english_page">
		</activity>

		<activity android:name=".SearchActivity"
				  android:theme="@android:style/Theme.NoTitleBar"
				  android:configChanges="orientation|keyboardHidden"
				  android:label="@string/search_page">
			<!-- 
            <meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
			<intent-filter>
            	<action android:name="android.intent.action.SEARCH" />			
			</intent-filter>
			 -->
			 				  
		</activity>		

<!--
		<activity android:name=".BookmarkTabWidget"
				  android:label="@string/memo"
				  android:configChanges="orientation|keyboardHidden"
				  android:theme="@android:style/Theme.NoTitleBar">
		</activity>

		<activity 
			android:name=".BookmarkThaiActivity"
			android:configChanges="orientation|keyboardHidden"
		/>
-->

		<activity 
			android:name=".BookmarkPaliActivity"
			android:configChanges="orientation|keyboardHidden"
			android:noHistory="true"
		/>
		<activity 
			android:name=".BookmarkEnglishActivity"
			android:configChanges="orientation|keyboardHidden"
			android:noHistory="true"
		/>
        <activity 
			android:name=".SettingsActivity"
			android:noHistory="true"
        />
        <activity 
			android:name=".cped"
			android:noHistory="true"
        />
		
		<!-- 
		<meta-data android:name="android.app.default_searchable"
               android:value=".SearchActivity" />
         -->
        <activity android:name="SearchDialog"></activity>

    </application>


    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <supports-screens android:resizeable="true"
                      android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:xlargeScreens="true"
                      android:anyDensity="true"/>
</manifest> 
